.branding-section {
    padding-top: 20vh;
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
            line-height: 32px;
        }
    }
    &__one {
        .column {
            h1 {
                margin: 2vh 0;
                font-size: 3.5em;
            }
        }
        .column:nth-of-type(1) {
            padding-right: 13vw;
        }
    }
    &__two {
        .column {
            h1 {
                font-size: 3em;
            }
        }
    }
}